extends ../template-layout/common.user.pug

block content
	.mt-4.text-center
		h1 Login
	
	.container
		if errs
			each err in errs
				.alert.alert-danger= err

		form(action="/login", method="POST")
			.form-group.row
				label.col-sm-2(for="email") Email
				input#email.form-control.col-sm-10(type="text" name="email", value= value ? value.email : "")
			.form-group.row
				label.col-sm-2(for="password") Password
				input#password.form-control.col-sm-10(type="password" name="password", value= value ? value.password : "")
			button.btn.btn-primary(type="submit") Login