extends ../template-layout/common

block content
	.mt-4.text-center
		h1 Add new user
	
	.container
		if errs
			each err in errs
				.alert.alert-danger= err

		form(action="/users/create", method="POST", enctype="multipart/form-data")
			.form-group.row
				label.col-sm-2(for="name") Name
				input#name.form-control.col-sm-10(type="text" name="name", value=values ? values.name : "")
			.form-group.row
				label.col-sm-2(for="age") Age
				input#age.form-control.col-sm-10(type="text" name="age", value=values ? values.age : "")
			.form-group.row
				label.col-sm-2(for="avatar") Avatar
				input#avatar.form-control-file.col-sm-10(type="file" name="avatar")
			button.btn.btn-success(type="submit") Add