h2 Users list

a(href="/admin/users/create") Add

form(action="/admin/users/search", method="GET")
	input(type="text" name="q" value=query?query:'')
	button Search
ul
	each user in users
		li
			span= user.name + ' ' + user.age + ' '
			a(href='/admin/users/' + user.id) View