extends ../../template-layout/common

block content
	.container.my-4
		h1.text-center View user
		.row.text-center.text-sm-left
			.col-sm-5.d-flex.flex-column.align-items-center
				img.rounded-circle.mb-4(src=userView.avatar, width="200", height="200")
			.col-sm-7.d-flex.flex-column.justify-content-center
				p= `Email: ${userView.email}`
				p= `Name: ${userView.name}`
				p= `Age: ${userView.age}`
		div
			h4.text-center Cart