h2 Users list

a(href="/users/create") Add new user

form(action="/users/search", method="GET")
	input(type="text" name="q" value=`${query}` === 'undefined' ? '': `${query}`)
	button Search
ul
	each use in users
		li= use.name + ' ' + use.age