extends ../template-layout/common

block content
	.container.my-4
		h1.text-center View user
		.row.text-center.text-sm-left
			.col-sm-5
				img.rounded-circle(src=userView.avatar, width="200", height="200")
			.col-sm-7.d-flex.flex-column.justify-content-center
				p= `Name: ${userView.name}`
				p= `Age: ${userView.age}`
