html
	head
		link(rel="stylesheet", href="/styles/bootstrap.min.css")
		link(rel="stylesheet", href="/styles/mystyle.css")
		script(src="/script/jquery.js")
		script(src="/script/popper.min.js")
		script(src='/script/bootstrap.min.js')

	body
		nav.navbar.navbar-expand-sm.navbar-dark.bg-dark
			a.navbar-brand(href='/admin/products') HTD
			button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent')
				span.navbar-toggler-icon
			#navbarSupportedContent.collapse.navbar-collapse
				ul.navbar-nav.mr-auto.text-right
					li.nav-item(class=active==='products'?'active':'')
						a.nav-link(href='/admin/products') Products
					li.nav-item(class=active==='users'?'active':'')
						a.nav-link(href='/admin/users') Users
				div.d-flex.justify-content-center.justify-content-sm-end
					p.text-light.my-auto Admin
					a.btn.btn-outline-secondary.ml-2(href="/login/logout") Log out


		div(style="min-height: 70vh")
			block content
		
		.text-center.bg-secondary.py-5
			h2.text-light HTD